.secondary-part-items {
    margin-left: auto;
    margin-right: auto;
    width: min-content;
    text-align: center;
}
h1{
    padding-top: 40px;
}
.secondary-part-container{
    background-color: rgb(240, 240, 240);
}