.main-part-container {
    height: 100vh;
    width: 100%;
    background-image: url("./mainImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}
.fa-angle-double-down{
    color:white;
    font-size: 50px;
}
.pointer{
    margin-right: auto;
    margin-left: auto;
    margin-top: 35vh;
    width: min-content;
}